{% extends "master.html.twig" %}
{% block headextra %}
    <script>
        $(document).ready(function () {
            $('input[name=term]').bind("propertychange change click keyup input paste", function () {

                var search = $('#term').val();
                if (search != '')
                {
                    load_data(search);
                } else
                {
                    load_data();
                }
                function load_data(term)
                {
                    $.ajax({
                        url: "/price/search/" + term,
                        method: "POST",
                        data: {term: term},
                        success: function (data)
                        {
                            $('#itemsView').html(data);
                        }
                    });
                }

            });
        });

    </script>
{% endblock %}
{% block content %}

    <form class="searchbar searchbar-init theme-orange">
        <div class="searchbar-input">
            <input type="search" placeholder="Search by Product or Store" name="term" id="term">
            <a href="#" class="searchbar-clear"></a>
        </div>

    </form>



    <div class="list-block" id="itemsView">
        <!-- List View -->
        <div class="content-block-title theme-bluegray"><b>Price List</b></div>
        <ul>
            <div class="list-block" id="itemsView">
                {% for p in list %}

                    <li>
                        <a href="/price/view/{{p.priceId}}" class="external">

                            <div class="item-inner">

                                <div class="item-title">&nbsp;{{p.productName}}</div>
                                <div class="item-after">${{p.price}} /{{p.quantity}} {{p.unit}}&nbsp</div>
                                <div class="item-subtitle">{{p.storeName}}</div>

                            </div>
                        </a>
                    </li>
                {% endfor %}
               
            </div>
        </ul>
    </div>
    {# creates white space at bottom of screen #}
    <div class="content-block">&nbsp;</div>


{% endblock %}


{% block scriptextra %}
   {# <script>
           $('.page-content').bind('scroll', chk_scroll);
        var load = 0;
        var maxItems = ({{pc}});
                //combine original list and appended list
                var lastIndex = ($('ul .list-block li').length + $('.appendBlock li').length);
        function chk_scroll(e)
        {
            var elem = $(e.currentTarget);
            //user scrolled to bottom of screen
            if (elem[0].scrollHeight - elem.scrollTop() === elem.outerHeight()) {
                //if the list is smaller than the database rows call AJAX
               // if (lastIndex < maxItems) {
                    load++;//load more rows
                    console.log('bottom');
                    $.get('/pricesList/' + load, function (data) {
                        //load more products
                        data = JSON.parse(data);
                        var priceText = "";
                        // add new products
                        for (var i = 0; i < data.length; i++) {
                            var price = data[i];
                            //add products to html list
                            priceText = '<li>\
                             <a href="/price/view/' + price.id + '" class="external">' +
                                    '<div class="item-inner">' +
                                    '<div class="item-title">&nbsp;' + price.productName + '</div>\
                                    <div class="item-after">' + price.price + '/' + price.quantity + price.unit + '&nbsp</div>\
                                    <div class="item-subtitle">' + price.storeName + '</div>\
                                </div>\
                            </a>\
                        </li>';
                            $('.appendBlock').append(priceText);
                        }
                        lastIndex = $('ul .list-block li').length + $('appendBlock li').length;
                    });
             //   } else {
             //       return; //do nothing
               // }
            }

        }
    </script> #}
{% endblock %}


